* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(189, 188, 189);
}

.image-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(176, 166, 235);
    min-width: 100px;
    height: auto;
    flex-direction: row;
}

.image-item {
    text-align: center;
    width: 22%;
}

.image-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.image-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
