* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #d9d4d9;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    text-align: center;
    width: 22%;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}